body{
  background-color: #ffffff;
  font-family: Tahoma, Geneva;
}
h1{
  width: 100%;
  text-align: center;
}
h2{
  width: 100%;
  text-align: center;
}
div{
  background-color:#fffd5d;
  max-width: 10em;
  width: auto;
  align: center;
  margin: auto;
  border: 5px solid #8e8e8e;
  height: 2em;
}
table{
  position: absolute;
  width: 8em;
  top: 11em;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(42, 184, 154);
  border: 5px solid #8e8e8e;
  padding: .3em;
}
th, td {
  padding: 2px;
}
th.abled:hover, td.abled:hover {
  cursor: pointer;
}
